In [7]:
import sys
print(sys.executable)
!{sys.executable} -m pip install pandas

/opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/bin/python
Requirement already satisfied: pandas in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.2.1/libexec/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [10]:
import pandas as pd

mapAddr2Ids = pd.read_csv("data/mapAddr2Ids.csv")
outputs = pd.read_csv("data/outputs.csv")

In [67]:
inputs_cname = ["txID", "prevTxID", "prevTxPos"]
inputs_dtype_spec = {
    inputs_cname[0]: "uint32",   
    inputs_cname[1]: "uint32",
    inputs_cname[2]: "uint32",
}

inputs = pd.read_csv("data/inputs.csv", 
                        header=None, 
                        names=inputs_cname, 
                        dtype=inputs_dtype_spec,
                        index_col=inputs_cname[0]
                    )

inputs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21378770 entries, 171 to 10572826
Data columns (total 2 columns):
 #   Column     Dtype
---  ------     -----
 0   prevTxID   uint32
 1   prevTxPos  uint32
dtypes: uint32(2)
memory usage: 244.7 MB

In [93]:
trans_cname = ["timestamp", "blockID", "txID", "isCoinbase", "fee"]
trans_dtype_spec = {
    "timestamp": "uint32",   
    "blockID": "uint32",
    "txID": "uint32",
    "isCoinbase": "bool",
    "fee": "uint32"
}

transactions = pd.read_csv("data/transactions.csv",
                               header=None, 
                               names=trans_cname, 
                               dtype=trans_dtype_spec,
                               index_col=trans_cname[2],
                          )

In [99]:
f_transactions = transactions[transactions['isCoinbase']==False]
f_transactions = f_transactions.copy()
f_transactions.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10358266 entries, 171 to 10572826
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   timestamp   uint32
 1   blockID     uint32
 2   isCoinbase  bool
 3   fee         uint32
dtypes: bool(1), uint32(3)
memory usage: 167.9 MB

In [100]:
f_transactions['timestamp'] = pd.to_datetime(f_transactions['timestamp'], unit='s')
f_transactions.sort_values("timestamp", ascending=False, inplace=True)
f_transactions.head()

                   timestamp  blockID  isCoinbase     fee
txID
10572826 2012-12-31 23:52:37   214562       False  100000
10572664 2012-12-31 23:52:37   214562       False   50000
10572661 2012-12-31 23:52:37   214562       False   50000
10572660 2012-12-31 23:52:37   214562       False   50000
10572659 2012-12-31 23:52:37   214562       False  100000

In [112]:
first = f_transactions.iloc[0]
print(type(first))
print(len(first))
print(first.index)

<class 'pandas.core.series.Series'>
4
Index(['timestamp', 'blockID', 'isCoinbase', 'fee'], dtype='object')

In [60]:
no_in_trans = f_transactions[inputs.loc[f_transactions['txID']] == None]

ValueError: putmask: mask and data must be the same size

In [55]:
no_in_trans.info()
no_in_trans.tail()

<class 'pandas.core.frame.DataFrame'>
Index: 21378770 entries, 171 to 21593332
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   timestamp   uint32
 1   blockID     uint32
 2   txID        uint32
 3   isCoinbase  bool
 4   fee         uint32
 5   prevTxID    float64
 6   prevTxPos   float64
dtypes: bool(1), float64(2), uint32(4)
memory usage: 835.9 MB

,timestamp,blockID,txID,isCoinbase,fee,prevTxID,prevTxPos
21593328,1356997957,214562,10572823,False,100000,10572820.0,7.0
21593329,1356997957,214562,10572824,False,100000,10572820.0,5.0
21593330,1356997957,214562,10572825,False,100000,10572820.0,6.0
21593331,1356997957,214562,10572826,False,100000,10572820.0,2.0
21593332,1356997957,214562,10572826,False,100000,10569364.0,4.0

In [61]:
series1 = pd.Series([1, 3, 5, 7, 9])
series2 = pd.Series([1, 2, 4, 6, 8])

In [64]:
difference = series1 - series2

In [65]:
print(difference)

0    0
1    1
2    1
3    1
4    1
dtype: int64